body{
    background-color: lightblue;
}

h1{
    color: gold;
    text-align: center;
}
]
p{
    color: rgb(39, 53, 53);
    font-size: 25px;
}
img{
    border: 3px, solid, black;
}
ul{
    list-style-type: circle ;
}

li{
    margin-bottom: 20px;
}

a{
    color: violet;
}

a:hover{
    color: yellow;
}